<!DOCTYPE html>
<html lang="pt"  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layout}">

    <head>
        <title>Finalizar a Compras</title>
    </head>
    <header>
        <header class="bg-light py-5" layout:fragment="header">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">CHECKOUT</h1>
                </div>
            </section>
    </header>
    <body>
        <!-- Page Content-->
        <div class="container" layout:fragment="corpo">
            <h3 style="text-align: center">DADOS DO CLIENTE</h3>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col" >CPF</th>
                                <th scope="col">Email</th>
                                <th scope="col">Cidade</th>
                                <th scope="col">CEP</th>
                                <th scope="col">Logradouro</th>
                                <th scope="col">Número</th>
                                <th scope="col">Bairro</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cliente : ${cliente}">
                                <td th:text="${cliente.nome}"></td>
                                <td th:text="${cliente.cpf}"></td>
                                <td th:text="${cliente.email}"></td>
                                <td th:text="${cliente.localidade}"></td>
                                <td th:text="${cliente.cep}"></td>
                                <td th:text="${cliente.logradouro}"></td>
                                <td th:text="${cliente.numero}"></td>
                                <td th:text="${cliente.bairro}"></td>

                            </tr>
                            </tbody>

                        </table>
                        <form action="/finalizar/confirmar" method="POST">

                        <h6 style="text-align: center">MEIO DE PAGAMENTO</h6>
                        <select class="form-select"  name="formaPagamento">
                            <option Selecione>Meio de pagamento</option>
                            <option value="cartao de credito">Cartão de Crédito</option>
                            <option value="cartao de debito">Cartão de Débito</option>
                            <option value="boleto">Boleto</option>
                            <option value="pix">PIX</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <h3 style="text-align: center">INFORMAÇÕES DO CARRINHO</h3>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Produto</th>
                                <th scope="col" class="text-center">Quantidade</th>
                                <th scope="col"class="text-right">Preço Und.</th>
                                <th scope="col" class="text-right">Preço Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${listaItens}">
                                <td><img th:src="@{/mostrarImagem/{imagem}(imagem=${item.produtos.nomeImagem})}" width="50"/> </td>
                                <td th:text="${item.produtos.nome}"></td>
                                <td class="text-center">
                                    &nbsp; <span th:text="${item.quantidade}"></span> &nbsp;
                                </td>
                                <td th:text="${item.valorUnitario}" class="text-right"></td>
                                <td th:text="${item.valorTotal}" class="text-right"></td>

                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">Sub-Total</td>
                                <td class="text-right"><span th:text="${compra.valorTotal}"></span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">Frete</td>
                                <td class="text-right">0,00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>Valor Total</strong></td>
                                <td class="text-right" ><strong><span th:text="${compra.valorTotal}"></span></strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-center">
                            <button class="btn btn-block  btn-success text-uppercase">Confirmar a Compra</button>
                            <!--<a href="/finalizar/confirmar" class="btn btn-block  btn-success text-uppercase">Confirmar</a>-->
                        </div>
                    </div>
                </div>
            </form>

            </div>



        </div>


    </body>
</html>
